######################
# Mac OSX
######################
.DS_Store

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
/target/**

######################
# Gradle
######################
.gradle/**
out/**
gradle/**
gradlew
gradlew.bat

######################
# Project Specific
######################
build/
projects/

